/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../../public/fonts/nunito-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../public/fonts/nunito-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../public/fonts/nunito-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../public/fonts/nunito-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../public/fonts/nunito-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../public/fonts/nunito-v22-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-600 - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url('../../public/fonts/nunito-v22-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../public/fonts/nunito-v22-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../public/fonts/nunito-v22-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../public/fonts/nunito-v22-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../../public/fonts/nunito-v22-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../public/fonts/nunito-v22-latin-600.svg#Nunito') format('svg'); /* Legacy iOS */
  }
  /* nunito-800 - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: url('../../public/fonts/nunito-v22-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../public/fonts/nunito-v22-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../public/fonts/nunito-v22-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../public/fonts/nunito-v22-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../../public/fonts/nunito-v22-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../public/fonts/nunito-v22-latin-800.svg#Nunito') format('svg'); /* Legacy iOS */
  }